asgiref==3.2.10
async-generator==1.10
attrs==20.2.0
bleach==3.2.1
cachetools==4.1.1
certifi==2020.6.20
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1.1
django-import-export==2.3.0
entrypoints==0.3
et-xmlfile==1.0.1
google-auth==1.4.2
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
more-itertools==8.5.0
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.1
nltk==3.5
notebook==5.2.2
numpy==1.19.2
odfpy==1.4.1
openpyxl==3.0.5
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==1.0.18
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.9.27
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
simplegeneric==0.8.1
six==1.12.0
sqlparse==0.3.1
tablib==0.12.1
testpath==0.4.4
threadpoolctl==2.1.0
tornado==4.5.3
tqdm==4.50.0
traitlets==5.0.4
unicodecsv==0.14.1
wcwidth==0.2.5
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
