{% load static %}
<!DOCTYPE html>
<html>
<head>
	
</head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fact Checker</title>
	<link rel="stylesheet" href="{% static 'main/styles.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Leckerli One' rel='stylesheet'>
	<style>
	#fake {
		max-width: 800px;
		margin: 0 auto;
	}
</style>
<body>
<div class="topnav" id="tnav">
  <a href="#home" class="active"><span style="font-family: 'Leckerli One"> Fact Checker</span></a>
  <a href="#news">News</a>
   <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="midFont">
<div class="true">News is <span style="color:green ">True!</span> </div>
</div>
<div class="wrapper">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_NviaNf.json"  background="transparent"  speed="0.75"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
	
<div>


</body>
</html>